<div class="p-4 ">
    <!-- public repo heading -->
    <div class="flex justify-between pt-2 border-solid border-0 border-b border-slate-300">
        <div class="p-2 border-solid border-0 border-b border-blue-300">
            <p class="font-semibold">Public Respositories</p>
        </div>
        <button class="w-12 h-12 p-2 mb-2 bg-blue-400 rounded-full text-white"><i class="fa-solid fa-folder"></i></button>
    </div>

    <div class="mt-5 grid grid-cols-1 lg:grid-cols-2 gap-2">
        <!-- repository card -->
        <div class="max-w-xl bg-white p-3 rounded-lg">
            <p class="text-blue-400 font-medium">Repository name</p>
            <p class="mt-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum, sint iure porro consequuntur, itaque amet</p>
            <div class="flex mt-3">
                <button class=" me-2 mb-2 p-1 bg-slate-50 rounded-md">
                    <p class="text-xs font-semibold text-slate-600">#React</p>
                </button>
            </div>
        </div>  
    </div>
</div>
