<div class="bg-slate-100 w-full h-fit lg:h-screen lg:flex lg:flex-row">
  <!-- search and userdetails -->
  <div class="w-full h-fit lg:h-screen lg:w-max flex flex-col items-center bg-white border border-slate-200 p-5">
    <form #getUserid="ngForm" class="relative flex">
      <input [(ngModel)]="userid" required name="userid" type="text" class=" w-60 border border-gray-300 text-sm focus:outline-none rounded-lg ps-10 py-2   focus:border-blue-400 placeholder:text-sm" placeholder="Search by userid...">
      <i class="fa-regular fa-user fa-lg absolute left-3 top-1/2 text-slate-400"></i>
      <button  (click)="handleSearch()" class="p-2 bg-blue-400 rounded-lg ms-3 text-white"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
    </form>

    <app-user-details></app-user-details>
  </div>

  <!-- user repos -->
  <div class="overflow-auto">
    <app-user-repos></app-user-repos>
  </div>
</div>
<ng-toast></ng-toast>